{{#if post}}
<div class="card">
    <div class="card-img">
        <img src="/uploads/{{ post.file }}" alt="{{ post.title }}" class="img-responsive">
    </div>
    <div class="card-body">
        <div class="card-title">{{ post.title }}</div>
        <div class="card-text">{{ post.body }}</div>
    </div>
    <div class="card-footer text-muted">
        <p>
            Created at {{ formatDate post.date 'MM-DD-YYYY'}}
        </p>
        <a href="/" class="btn btn-primary">Back</a>
    </div>
</div>
{{/if}}